[submodule "gtm-oauth"]
	path = gtm-oauth
	url = git@github.com:chris124/gtm-oauth.git
[submodule "gtm-oauth2"]
	path = gtm-oauth2
	url = git@github.com:chris124/gtm-oauth2.git
[submodule "gtm-http-fetcher"]
	path = gtm-http-fetcher
	url = git@github.com:chris124/gtm-http-fetcher.git
[submodule "asi-http-request"]
	path = asi-http-request
	url = git@github.com:chris124/asi-http-request.git
[submodule "facebook-ios-sdk"]
	path = facebook-ios-sdk
	url = git@github.com:chris124/facebook-ios-sdk.git
[submodule "iOSSocialViewControllers"]
	path = iOSSocialViewControllers
	url = git@github.com:chris124/iOSSocialViewControllers.git
