.DS_Store
iOSSocial/iOSSocial.xcodeproj/project.xcworkspace/
iOSSocial/iOSSocial.xcodeproj/xcuserdata/
iOSSocial/build/
iOSSocial/output/
iOSSocial/InstaBeta/InstaBeta.xcodeproj/xcuserdat/
iOSSocial/InstaBeta/InstaBeta.xcodeproj/project.xcworkspace/