[submodule "three20"]
	path = three20
	url = https://github.com/facebook/three20.git
[submodule "gtm-oauth"]
	path = gtm-oauth
	url = https://github.com/chris124/gtm-oauth
[submodule "gtm-oauth2"]
	path = gtm-oauth2
	url = https://github.com/chris124/gtm-oauth2
[submodule "gtm-http-fetcher"]
	path = gtm-http-fetcher
	url = git@github.com:chris124/gtm-http-fetcher.git
[submodule "asi-http-request"]
	path = asi-http-request
	url = git@github.com:chris124/asi-http-request.git
